<h1>Welcome To The Secret Page</h1>
<h2>Hello, <%=@user.username %> </h2>
  <form action='/session' method='POST'>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token()%>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Logout</button>
  </form>
